<div id="modal-content">
  <h1 class="logo">
    <img src="/assets/logo.png" alt="Logo">
  </h1>
  <h2>
    Trippy is dying to meet you with ideas to revolutionize your travel planning. Here's your chance for a sneak preview invitation.
  </h2>
  <h4>
    You'll be one of the select few to get invited to our private beta!
  </h4>
  <form id="invite-form" method="post" action="/request_invite">
    <fieldset>
      <input id="email" type="text" value="" placeholder="trippy@gmail.com" name="email">
      <div>
        <input id="invite_btn" type="submit" value="Invite Me!">
      </div>
    </fieldset>
  </form>
</div>
