- content_for :head do
  = stylesheet_link_tag "homepage"

.container
  .home-box.hero-unit
    %h1 Hi! There
    %p Trippy is a great experience when it comes to planning your travel. Our focus is to keep you more informed as you plan your travel. Our travel specialist partners are keenly waiting to help you plan your travel.
    %p
      %a.btn.btn-primary.btn-large Plan a Trip »

  .row.marketing
    .span4
      %h2 Amsterdam Trip
      %img.img-rounded{:src => "http://cf.juggle-images.com/matte/white/140x140/amsterdam-1-200.jpg"}
      %p The excellent winter trip to Amsterdam by Kulkarni's. All snaps and videos aggregated in single place and all fun captured on a single thread! This is for real.
      %p
        %a.btn{:href=>"#"}View Itinerary
    .span4
      %h2 Escaping to Spain 
      %img.img-rounded{:src => "http://www.zicasso.com/files/imagecache/thumbnail/files/tcfeedback/Spain_Barcelona_Tour_Sagrada_Familia_Temple_-_All_Travel_Guru.jpg"}
      %p Spainish diet for a month will tingle your tastebuds. Exotic location and super luxurious stay will make you stay comfortable and fun.
      %p
        %a.btn{:href=>"#"}View Itinerary
    .span4
      %h2 Kerela Holiday
      %img.img-rounded{:src => "http://propimg.travellerspoint.com/140x140_51299-1-nomads-airlie-beach.jpg"}
      %p Spend a week in lap of God's own country. Serene backwaters and well stocked house boats will help you rejuvenate.
      %p
        %a.btn{:href=>"#"}View Itinerary
