<!DOCTYPE html>
%html
  %head
    %title
      Title

    = javascript_include_tag "application"
    = stylesheet_link_tag "application"

  %body

    #content

    = yield

    
  :javascript
    $(function() {
        App.start();
    });
