<!DOCTYPE html>
%html
  %head
    %title
      Title

    = javascript_include_tag "application"
    = stylesheet_link_tag "application"

  %body
    #header
    #content
      = yield
    #footer
    
  :javascript
    $(function() {
        App.start();
    });
